/* css reset  */

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}


/* navigation  */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#navbar::before {
    content: " ";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}


/* logo and image  */

#logo {
    padding: 10px 18px;
}

#logo img {
    height: 36px;
}


/* list items  */

#navbar ul {
    display: flex;
}

#navbar li {
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
}

#navbar li a {
    color: white;
    display: block;
    padding: 10px 23px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Langar', cursive;
}

#navbar li a:hover {
    color: black;
    background-color: white;
}


/* home section  */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 200px;
    height: 470px;
}

#home::before {
    content: " ";
    background: url("https://cdn.pixabay.com/photo/2018/01/31/09/57/coffee-3120750__340.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 540px;
    z-index: -1;
    opacity: 0.9;
    animation-name: myanim;
    animation-duration: 20s;
    animation-timing-function: step-start;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: inherit;
}

@keyframes myanim {
    0% {
        background: url("https://cdn.pixabay.com/photo/2017/09/18/16/53/burger-2762371_960_720.jpg") no-repeat center center/cover;
    }
    50% {
        background: url("https://cdn.pixabay.com/photo/2018/01/31/09/57/coffee-3120750__340.jpg") no-repeat center center/cover;
    }
    100% {
        background: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg") no-repeat center center/cover;
    }
}

#home h1 {
    color: black;
    text-align: center;
    font-family: 'Redressed', cursive;
}

#home p {
    color: black;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Trochut', cursive;
}


/* services  */

#sevice-container h1 {
    font-family: 'Redressed', cursive;
    font-size: 4rem;
}

#services {
    margin: 40px;
    display: flex;
}

#sevice-container {
    position: relative;
    height: 617px;
}

#sevice-container::before {
    content: "";
    position: absolute;
    background: url("https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_960_720.jpg")no-repeat center center/cover;
    height: 620px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#services .box {
    border: 2px solid #bb4343;
    background-color: #ece2e2;
    border-radius: 30px;
    text-align: 20px 25px;
    margin: 15px;
    padding: 3px 30px;
    font-family: 'Merriweather', serif;
}

#services .box img {
    height: 165px;
    margin: auto;
    display: block;
}


/* clients section */

#clients-section {
    position: relative;
    height: 240px;
}

#clients-section::before {
    content: "";
    position: absolute;
    background: url("https://cdn.pixabay.com/photo/2017/10/09/19/29/eat-2834549_960_720.jpg");
    height: 240px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-item {
    padding: 35px 50px;
}

#clients img {
    height: 90px;
}


/* contact section  */

#contact {
    position: relative;
    height: 650px;
}

#contact::before {
    content: "";
    position: absolute;
    background: url("https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000_960_720.jpg") no-repeat center center/cover;
    height: 650px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#contact-box {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 34px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Merriweather', serif;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.3rem;
}

footer {
    background-color: black;
    color: white;
    padding: 5px 20px;
}


/*  utility  */

.h-prim {
    color: black;
    font-size: 5rem;
}

.h-sec {
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 3.2rem;
}

.btn {
    color: whitesmoke;
    padding: 4px 10px;
    font-size: 1.2rem;
    margin: 15px;
    border-radius: 20px;
    border: 2px solid #5c5e67;
    background-color: black;
    cursor: pointer;
}

.center {
    text-align: center;
}
